<!-- footer -->
<footer>
  <div class="section-sm bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <img src="images/icon-footer.png" alt="fullstaq">
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5 class="text-white mb-4">ABOUT FULLSTAQ</h5>
          <p class="text-white">We use our wide expertise to help customers tackle their complex technology problems. We thrive to go beyond the service most traditional infrastructure vendors offer by working closely together with your software development teams and integrating the DevOps mentality, toolstack and best practices.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5 class="text-white mb-4">OUR SERVICES</h5>
          <ul class="list-unstyled">
            <li class="text-white py-2"><a href="#">DevOps processes and tools</a></li>
            <li class="text-white py-2"><a href="#">DevOps processes and tools</a></li>
            <li class="text-white py-2"><a href="#">DevOps processes and tools</a></li>
            <li class="text-white py-2"><a href="#">DevOps processes and tools</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5 class="text-white mb-4">CONTACT US</h5>
          <ul class="list-unstyled">
            <li class="text-white py-2"><i class="fa fa-phone mr-2"></i><a href="#">+31 (0) 850 605 804</a></li>
            <li class="text-white py-2"><i class="fa fa-envelope mr-2"></i><a href="#">info@fullstaq.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->