<!-- navigation -->
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
      <a class="navbar-brand" href="index.html"><img class="img-fluid dark" src="images/logo.png" alt="logo"><img class="img-fluid white" src="images/logo-alt.png" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="fa fa-bars h2 text-white"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Our Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="service.html">DevsOpps processes and tools</a>
              <a class="dropdown-item" href="service.html">Cloud adoption and migration</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="work.html">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="jobs.html">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->